@import 'vars';
@import 'global';
@import 'fonts';
@import 'reset';
@import 'libs';

.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-404{
  background-color: $bg;
}

.menu{
  &__list{
    display: flex;
  }
  &__list-link{
    @extend %roboto-400;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    position: relative;
    &:hover{
      color: $accent;
      text-shadow: 0 0 .65px $accent, 0 0 .65px $accent;
      border-bottom: 1px solid $accent;
    }
    &--active{
      color: $accent;
      text-shadow: 0 0 .65px $accent, 0 0 .65px $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__link span{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $accent;
    border-radius: 50%;
    top: -8px;
    right: -13px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
  }
  &__link + .user-nav__link{
    margin-left: 25px;
  }
}

.footer{
  background-color: $bg;
  padding-top: 75px;
}

.footer-top{
  &__content{
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  &__content-logo{
    display: block;
    margin-bottom: 30px;
  }
  &__contact{
    width: 270px;
    margin-right: 30px;
  }
  &__contact-link{
    @extend %quicksand-500;
    color: $default;
    margin-bottom: 10px;
    & span{
      display: block;
    }
  }
  &__social{
    margin-top: 35px;
    display: flex;
    align-items: center;
  }
  &__social-link + .footer-top__social-link{
    margin-left: 20px;
  }
  &__social-link{
    fill: $default;
    transition: all .5s;
    &:hover{
      fill: $accent;
    }
  }
  &__item{
    width: 170px;
    margin-right: 30px;
  }
  &__item-title{
    color: $title;
    font-size: 22px;
    @extend %roboto-500;
    margin-bottom: 35px;
  }
  &__list-link{
    color: $default;
    margin-bottom: 10px;
  }
  &__send{
    max-width: 470px;
  }
  &__item-text{
    margin-bottom: 25px;
  }
  &__form{
    display: flex;
  }
  &__input{
    height: 50px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0px 7px 20px 0px rgba($default, 0.3);
    border: none;
    outline: none;
    padding: 0 15px;
    margin-right: 10px;
  }
  &__btn{
    cursor: pointer;
    @extend %btn;
    padding: 0 22px;
  }
}

.footer-bottom{
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__accept{
    display: flex;
    align-items: center;
  }
  &__img{
    margin-left: 25px;
  }
}

.top{
  &__container{
    max-width: 1700px;
    margin: 0 auto;
  }
  &__inner{
    background-image: url('../images/top-bg.jpg');
    background-repeat: no-repeat;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 48px;
    color: #15181d;
    margin-bottom: 25px;
  }
}

.breadcrumbs{
  &__list{
    display: flex;
  }
  &__item{
    color: $default;
    padding-right: 40px;
    position: relative;
    &::after{
      @extend %pseudo;
      width: 9px;
      height: 10px;
      background-image: url('../images/icons/angle-right.svg');
      right: 16px;
      top: 9px;
    }
    &:first-child{
      padding-left: 25px;
      &::before{
        @extend %pseudo;
        width: 16px;
        height: 16px;
        background-image: url('../images/icons/home.svg');
        left: -7px;
        top: 4px;
      }
    }
    &:last-child{
      padding-right: 0;
      color: $accent;
      &::after{
        background-image: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.top-slider{
  background-image: url('../images/top-slider-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $bg;
  padding-bottom: 70px;
  &__container{
    width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__item{
    display: flex !important;
    padding-top: 70px;
  }
  &__content{
    margin: 120px 100px 0 160px;
  }
  &__title{
    color: $title;
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    margin-bottom: 30px;
  }
  &__text{
    width: 470px;
    margin-bottom: 55px;
  }
  &__btn{
    display: inline-block;
    @extend %btn;
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: -70px;
  li + li{
    margin-left: 5px;
  }
  li{
    button{
      font-size: 0;
      line-height: 0;
      padding: 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      position: relative;
      outline: none;
      &::after{
        @extend %pseudo;
        width: 6px;
        height: 6px;
        background-color: $default;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .slick-active button{
    border: 1px solid $accent;
    border-radius: 50%;
    &::after{
      background-color: $accent;
    }
  }
}

.categories{
  padding: 120px 0;
  background-image: url('../images/decor/categories-left.svg');
  background-repeat: no-repeat;
  background-position: left center;
  &__inner{
    background-image: url('../images/decor/categories-right.svg');
    background-repeat: no-repeat;
  background-position: right center;
  }
  &__top{
    display: flex;
    margin-bottom: 115px;
    position: relative;
    &::before{
      @extend %pseudo;
      background-image: url('../images/decor/categories-before.svg');
      width: 120px;
      height: 121px;
      top: -39px;
      left: -43px;
    }
    &::after{
      @extend %pseudo;
      background-image: url('../images/decor/categories-after.svg');
      width: 65px;
      height: 52px;
      right: -24px;
      bottom: -23px;
    }
  }
  &__top-item{
    background-color: #fff;
    z-index: 1;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    padding: 60px 40px;
  }
  &__top-item + .categories__top-item{
    margin-left: 30px;
  }
  &__top-img{
    margin-bottom: 35px;
  }
  &__top-title{
    @extend %roboto-400;
    font-size: 22px;
    line-height: 26px;
    color: $title;
    margin-bottom: 10px;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    height: 636px;
  }
  &__content-item{
    padding: 40px 0 0 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:nth-child(1){
      grid-row: span 2;
      & .categories__content-subtitle{
        color: #5800e4;
      }
      & .categories__content-link:hover{
        color: #5800e4;
        border-bottom: 1px solid #5800e4;
      }
    }
    &:nth-child(2){
      grid-column: span 2;
      & .categories__content-subtitle{
        color: $accent;
      }
      & .categories__content-link:hover{
        color: $accent;
        border-bottom: 1px solid $accent;
      }
    }
    &:nth-child(3){
      & .categories__content-subtitle{
        color: #ffb534;
      }
      & .categories__content-link:hover{
        color: #ffb534;
        border-bottom: 1px solid #ffb534;
      }
    }
    &:nth-child(4){
      & .categories__content-subtitle{
        color: #34c3ff;
      }
      & .categories__content-link:hover{
        color: #34c3ff;
        border-bottom: 1px solid #34c3ff;
      }
    }
  }
  &__content-title{
    @extend %roboto-500;
    font-size: 22px;
    line-height: 26px;
    color: $title;
    margin-bottom: 10px;
  }
  &__content-link{
    display: inline-block;
    @extend %roboto-400;
    font-size: 16px;
    color: $title;
    border-bottom: 1px solid transparent;
    transition: all .5s;
  }
}

.video-fashion{
  padding: 120px 0;
  background-color: $bg;
  background-image: url(../images/decor/video-pattern.svg);
  &__inner{
    display: flex;
  }
  &__video{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 535px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 65px;
  }
  &__subtitle{
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
  }
  &__title,
  &__text{
    text-align: left;
  }
  &__btn{
    display: inline-block;
    @extend %btn;
  }
}

.trends{
  padding: 120px 0;
  &__link{
    margin: 0 auto;
    width: 170px;
    height: 50px;
    border: 1px solid $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    @extend %roboto-400;
    color: $title;
  }
}

.trends-gallery{
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 40px;
  text-align: center;
  &__item{
    &:hover{
      .trends-gallery__pseudo{
        transform: translate(-50%, 0%);
      }
    }
  }
  &__img-box{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  &__img{
    height: 370px;
    max-width: 370px;
    object-fit: cover;
  }
  &__pseudo{
    position: absolute;
    width: 210px;
    height: 50px;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 400%);
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
  }
  &__pseudo-search,
  &__pseudo-cart,
  &__pseudo-fav{
    display: flex;
    align-items: center;
  }
  &__pseudo-cart{
    position: relative;
    &::after,
    &::before{
      @extend %pseudo;
      width: 1px;
      height: 30px;
      background-color: #ececec;
    }
    &::after{
      left: -27px;
    }
    &::before{
      right: -27px;
    }
  }
  &__pseudo-link{
    path{
      fill: #29282d;
      transition: all .5s;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__pseudo-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    path{
      fill: #29282d;
      transition: all .5s;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__item-title{
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    margin: 15px 0;
  }
  &__item-price{
    display: flex;
    justify-content: center;
  }
  &__item-price--new{
    color: $title;
    @extend %roboto-500;
    margin-right: 22px;
  }
  &__item-price--old{
    @extend %roboto-400;
    text-decoration: line-through;
  }
}

.star{
  margin: 0 auto;
}

.deal{
  background-image: url(../images/content/deal-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 160px 0;
  &__content{
    width: 570px;
    margin-right: 0;
    margin-left: auto;
  }
  &__content-subtitle{
    text-transform: uppercase;
    color: $accent;
    font-size: 22px;
    margin-bottom: 15px;
  }
  &__timer{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__timer-item{
    width: 120px;
    height: 120px;
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & + .deal__timer-item{
      margin-left: 30px;
    }
    & span{
      margin-top: 15px;
      @extend %roboto-700;
      font-size: 48px;
      color: $title;
    }
  }
  &__timer-smalltext{
    margin-top: 10px;
  }
  &__link{
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    border: 1px solid $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %roboto-400;
    color: $title;
    margin: 0 auto;
  }
}

.partners{
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog{
  margin-bottom: 165px;
  background-image: url('../images/decor/blog-bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  &__content{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    &::before{
      @extend %pseudo;
      width: 126px;
      height: 53px;
      background-image: url('../images/decor/blog-before.svg');
      top: -33px;
      right: -26px;
      z-index: -1;
    }
  }
  &__item{
    max-width: 370px;
    border: 1px solid #e8e8e8;
    border-top: none;
    transition: all .5s;
    &:hover{
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: transparent;
      .blog__item-link-more{
        & span{
          color: $accent;
        }
        path{
          fill: $accent;
        }
      }
    }
  }
  &__item-link{
    display: block;
  }
  &__item-img{
    height: 290px;
    max-width: 370px;
    object-fit: cover;
  }
  &__item-box{
    padding: 30px 40px;
  }
  &__item-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__item-author,
  &__item-date{
    padding-left: 30px;
    @extend %quicksand-500;
    color: $default;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    &::after{
      @extend %pseudo;
      width: 20px;
      height: 20px;
      left: 0;
    }
  }
  &__item-author::after{
    background-image: url('../images/icons/user-gray.svg');
    top: 1px;

  }
  &__item-date::after{
    background-image: url('../images/icons/clock.svg');
    top: 4px;
  }
  &__item-title{
    @extend %roboto-400;
    color: $title;
    font-size: 22px;
    margin-bottom: 15px;
  }
  &__item-link-more{
    display: flex;
    align-items: center;
    svg{
      margin-top: 2px;
    }
    path{
      transition: all .5s;
      fill: $default;
    }
  }
  & span{
    transition: all .5s;
    display: block;
    color: $default;
    margin-right: 5px;
  }
}

.page-404{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 570px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content-title{
    @extend %roboto-700;
    font-size: 48px;
    color: #28384f;
    line-height: 60px;
    margin-bottom: 20px;
  }
  &__content-text{
    width: 470px;
    margin-bottom: 55px;
  }
  &__content-link{
    align-self: start;
    @extend %btn;
  }
}

.login{
  max-width: 570px;
  margin: 115px auto;
  &__links{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__link{
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 22px;
    color: $default;
    & + .login__link{
      margin-left: 60px;
    }
    &.login__link--active{
      color: $accent;
    }
  }
  &__label{

  }
  &__input{
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #f6f6f6;
    margin-bottom: 40px;
    padding: 0 10px;
    outline: none;
  }
  &__btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %roboto-400;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #292929;
    cursor: pointer;
    margin: 20px 0;
  }
  &__lost{
    color: $accent;
  }
  &__text{
    margin-bottom: 35px;
  }
}

@import 'media';