.filter-item{
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  &__title{
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    margin-bottom: 40px;
  }
}

.filter-search{
  margin-bottom: 40px;
  &__form{
    display: flex;
  }
  &__input{
    border: none;
    background-color: $bg;
    padding: 0 15px;
    width: 270px;
    height: 50px;
    outline: none;
  }
  &__btn{
    background-color: $accent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__img{
    path{
      fill: #fff;
    }
  }
}

.filter-price{
  margin-bottom: 40px;
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn{
    @extend %btn;
  }
}

.irs-handle.from,
.irs-handle.to{
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
  top: -12px;
  &:hover{
    i:first-child{
      background-color: #fff;
    }
  }
  i:first-child{
    background-color: #fff;
  }
}

.irs--flat .irs-handle.state_hover, 
.irs--flat .irs-handle:hover{
  i:first-child{
    background-color: #fff;
  }
}

.irs--flat .irs-line{
  height: 5px;
  top: 0;
  border-radius: 0;
  background-color: #ececec;
}

.irs--flat .irs-bar{
  height: 5px;
  top: 0;
  background-color: $accent;
}

.filter-color{
  margin-bottom: 40px;
  &__label{
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    & + .filter-color__label{
      padding-top: 20px;
    }
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__input{
    @extend %input-hide;
    &:checked + .filter-color__checkbox{
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__checkbox{
    width: 16px;
    height: 16px;
    background-color: #00aeef;
    position: absolute;
    margin-left: -16px;
    margin-top: 7px;
    &--red{
      background-color: #f52574;
    }
    &--green{
      background-color: #24d4ac;
    }
    &--orange{
      background-color: #ff7e00;
    }
    &--black{
      background-color: #000;
    }
    &--purple{
      background-color: #923899;
    }
  }
}

.filter-size{
  margin-bottom: 40px;
  &__label{
    display: flex;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %input-hide;
    &:checked + .filter-size__checkbox{
      background-image: url('../images/icons/checkmark.svg');
      & + .filter-size__text{
        color: $accent;
      }
    
    }  
  }
  &__checkbox{
    position: absolute;
    background-image: url('../images/icons/checkmark-default.svg');
    width: 20px;
    height: 20px;
    margin-top: 3px;
  }
  &__text{
    margin-left: 36px;
  }
}

.filter-category{
  margin-bottom: 40px;
  &__input{
    @extend %input-hide;
    &:checked + .filter-category__box{
      background-color: $accent;
      color: #fff;
    }
  }
  &__label{
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__box{
    display: flex;
    justify-content: space-between;
    background-color: $bg;
    padding: 15px;
    color: $title;
  }
}

.filter-tags{
  &__input{
    @extend %input-hide;
    &:checked + .filter-tags__box{
      border-color: $accent;
      background-color: $accent;
      color: #fff;
    }
  }
  &__box{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $default;
    margin-right: 8px;
    margin-bottom: 20px;
  }
}